/*font-family: 'Catamaran', sans-serif;*/
html{
    height: 100%;
}
.navbar-default .navbar-brand {
    color: black;
}

body{
    background: url(../images/bg.jpg) ;
    background-position: center;
    background-size: cover;
/*    text-align: center;*/
    font-family: Catamaran;
}

.center{
    text-align: center;
    padding-top: 10%;
}

h1,p {
    color: white;
}


h2 > span {
    color: white;
}

#login{
    min-width: 250px;
    background-color: rgba(255,255,255,0.7);
    padding: 15px 14px 0;
}

#login .social-buttons{
    margin: 12px 0;
    font-family: Catamaran;
}

.btn-fb{
    color: #fff;
    background-color: #3b599d;
    margin-left: 10px; 
/*    font-family: Catamaran;*/
} 


.btn-tw{
    color: #fff;
    background-color: #55acee;
    margin-left: 20px;
    
}

.btn-fb:hover{
    color: #fff;
    background-color: #496ebc;
  
}

.btn-tw:hover{
    color: #fff;
    background-color: #1783eb;
}

@media(max-width:768px) {
    h1{
        background-color: #449d44;
        opacity: 0.8;
    }
/*
    h2{
        background-color: #449d44;
        opacity: 0.8;
    }
*/
}

@media(min-width:768px) {
    h1{
        background-color: skyblue;
        opacity: 0.8;
    }
/*
    h2{
        background-color: skyblue;
        opacity: 0.8;
    }
*/
}